<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="assets/img/find_user.png" class="user-image img-responsive" />
            </li>


            <li>
                <a href="/Categoria/Categoria"><i class="fa fa-dashboard fa-3x"></i>Categoria</a>
            </li>
            <li>
                <a href="/Banco/Banco"><i class="fa fa-desktop fa-3x"></i>Banco</a>
            </li>
            <li>
                <a href="/Empresa/Empresa"><i class="fa fa-qrcode fa-3x"></i>Empresa</a>
            </li>
            <li>
                <a href="/Conta/Conta"><i class="fa fa-bar-chart-o fa-3x"></i>Conta</a>
            </li>
            <li>
                <a href="/Movimento/Movimento"><i class="fa fa-edit fa-3x"></i>Movimento</a>
            </li>
            <li>
                <a href="/ConsultarMov/ConsultarMovimento"><i class="fa fa-edit fa-3x"></i>Consultar Movimento</a>
            </li>

            <li>
                <a class="active-menu"><center>ASP.NET MVC4</center></a>
            </li>
        </ul>

    </div>

</nav>
